@charset "utf-8";
@import 'https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono:wght@400&display=swap';

@import './tailwind.scss';
@import './info.scss';

/* Index */
.leading-looser {
  line-height: 2.5;
}

.hl-animation {
  animation: hl-animation 2s linear;
}

@keyframes hl-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.vl-animation {
  animation: vl-animation 2s linear;
}

@keyframes vl-animation {
  0% {
    height: 0;
  }

  100% {
    height: 100vh;
  }
}

.hand-right,
.hand-right:active {
  -webkit-filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .2));
  filter: drop-shadow( 2px 2px 1px rgba(0, 0, 0, .2));
}
.hand-right:hover {
  -webkit-filter: none;
  filter: none;
}
.hand-right:active .active-text-black {
  color: black;
}

/* Projects */

.center-of-media {
  left: calc(50% - 1.75rem);
}

.mt-25 {
  margin-top: 6.25rem;
}

.p-7\.5 {
  padding: 1.875rem;
}

.h-13 {
  height: 3.25rem;
}

.rounded-t-2\.5xl {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}


/* $text: #000;

$tablet: 768px;
$widescreen: 1440px;
$fullhd: 1920px; */

/* @import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/helpers/color.sass";
@import "bulma/sass/helpers/position.sass";
@import "bulma/sass/helpers/spacing.sass";
@import "bulma/sass/helpers/float.sass";
@import "bulma/sass/helpers/typography.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/components/level.sass";

@import './carousel.scss';
@import './companies.scss';
@import './hand.scss';
@import './info.scss'; */

/* // General settings

body {
  @extend .is-relative;
  
  margin: auto;

  width: min(2000px, 100vw);
}

// Index page

.rotate-45 {
  transform: rotate(45deg);
  animation: hl-animation-2 2s linear;
}

.rotate-135 {
  transform: rotate(135deg);
  animation: hl-animation-2 2s linear;
}

@keyframes hl-animation-2 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

// X index
.is-abs {
  position: absolute;
}

.trans-half-left {
  transform: translateX(-50%);
}

.trans-half-up {
  transform: translateY(-50%);
}

.trans-half {
  transform: translate(-50%, -50%);
}

.t-0 {
  top: 0;
}

.l-0 {
  left: 0;
}

.t-1-4 {
  top: 25vh;
}

.t-1-6 {
  top: 16.67vh;
}

.t-5-6 {
  top: 83.33vh;
}

.t-1-8 {
  top: 12.5vh;
}

.center {
  left: 50vw;
}

.middle {
  top: 50vh;
}

.l-1-4 {
  left: 25vw;
}

.l-3-4 {
  left: 75vw;
}

// Projects page

.is-vbottomed {
  align-items: flex-end;
}

.footer {
  @extend .cursive;

  margin-top: 7.5rem;
  padding: 3.25rem 0;

  background: none;

  p {
    padding-bottom: 1.75rem;

    font-size: 25px;
  }

  .contact img {
    padding-right: 2.75rem;

    height: 2.75rem;
  }
}

.footer {
  @extend .is-relative;
} */