.company {
  margin-top: 6.25rem;

  .media {
    @extend .is-relative;
  }

  .info {
    @extend .is-family-monospace;

    z-index: 2;
    
    box-shadow: 0 6px 5px 0 #E7E7E7;

    width: 764px;
    max-width: 100%;

    font-size: 1.125rem;
  }
}

.company-artwishlist {
  .media {
    @include carousel(4, 10);

    .logo-bg {
      background-color: #F5F5F5;
    }
  }
}

.company-myTomorrows {
  .media {
    @include carousel(3, 6);

    .logo-bg {
      background-color: #2AA56A;
    }
  }
}

.company-mobiquity {
  .media {
    @include carousel(3, 8);

    .logo-bg {
      background-color: #00AFEF;
    }
  }
}

.company-peopleperhour {
  .media {
    @include carousel(2, 6);

    .logo-bg {
      background-color: #F1F3F8;
    }
  }
}

.company-epu {
  .media {
    @include carousel(5, 8);

    .logo-bg {
      background-color: #FFF;
      border: 1px solid #243370;
    }
  }
}