@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto+Mono:wght@400&display=swap');

$family-monospace: "Roboto Mono", "Lucida Console", Courier, monospace;
$family-cursive: "Comfortaa", cursive;

.cursive {
  font-family: $family-cursive;
}

@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/helpers/color.sass";
@import "bulma/sass/helpers/position.sass";
@import "bulma/sass/helpers/spacing.sass";
@import "bulma/sass/helpers/float.sass";
@import "bulma/sass/helpers/typography.sass";
@import "bulma/sass/layout/footer.sass";
@import "bulma/sass/components/level.sass";

@import './carousel.scss';
@import './companies.scss';
@import './hand.scss';
@import './info.scss';

// General settings

// Smooth scrolling ONLY IF user doesn't have a preference due to motion sensitivities
@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

html {
  line-height: 1.5;
}

body {
  @extend .is-relative;
  
  margin: auto;

  width: min(2000px, 100vw);
  height: 100vh;
}

.columns {
  margin: 0;
  margin-bottom: 0 !important;
}

// Index page

.index .column {
  height: 50vh;
}

.golden {
  color: #000;

  font-size: 1.75rem;
  line-height: 3.75rem;
}

.hl {
  width: 100%;
  height: 1px;
  
  position: absolute;
  top: 50%;
  left: 0;

  background: #000;

  animation: hl-animation 2s linear;
}

@keyframes hl-animation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.vl {
  width: 1px;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 50%;

  background: #000;

  animation: vl-animation 2s linear;
}

@keyframes vl-animation {
  0% {
    height: 0;
  }

  100% {
    height: 100vh;
  }
}

// Projects page

// Just a div that shows up at the very top for scrolling back up
#top {
  height: 1px;
}

.header {
  @extend .cursive;

  margin-top: 5rem;
  // border-bottom: solid 1px black;
  padding-bottom: 1rem;

  color: #000;

  font-size: 1.5rem;
}

.is-vbottomed {
  align-items: flex-end;
}

.footer {
  @extend .cursive;

  margin-top: 10rem;
  padding: 3.25rem 0;

  background: none;

  p {
    padding-bottom: 1.75rem;

    font-size: 25px;
  }

  .contact img {
    padding-right: 2.75rem;

    height: 2.75rem;
  }
}

.footer {
  @extend .is-relative;
}